<div section-id="{{ sectionId }}"
     data-lg-scroll-offset="130"
     data-md-scroll-offset="130"
     data-sm-scroll-offset="94"
     class="features-section section-padding-space">
    <div class="features-section container d-flex flex-row justify-content-around align-items-center">
        {% for key, galler in settings.store_features %}
            <div class="feature d-flex flex-column justify-content-center align-items-center">
                <img class="features-section-img" src="{{ imageUrl(galler.image,{ w: 350, q: 100, f:'auto' }) }}" loading="lazy" alt=""  />
                <p class="px-2 theme-text-for-primary-bg features-section-title">{{ galler.title }}</p>
            </div>
        {% endfor %}
    </div>
</div>


{% schema %}
{
  "name": {
    "ar": "خصائص المتجر",
    "en": "Gallery"
  },
  "icon": "fal fa-sparkles",
  "display": true,
  "settings": {
    "store_features": {
      "type": "list",
      "noLabel": true,
      "maxItems": 3,
      "info": {
        "ar": "",
        "en": "This is an info text sample here"
      },
      "settings_label":{
        "ar": "الصورة",
        "en": "Picture"
      },
      "settings": {
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "text"
          }
        },
        "image": {
          "type": "image",
          "label": {
            "ar": "الصورة",
            "en": "Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم ٢٠٠ *٢٠٠ ",
            "en": "This is an info text sample here"
          }
        }
      }
    }
  }
}
{% endschema %}
