.container-parent{
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-pages-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section-colored {
    background-color: var( --primary-color);
    width: 30%;
}

.profile-section {
    width: 30%;
}

.profile-title {
    font-size: 1.167rem;
}

.profile-section * {
    font-size: 1.2rem;
    color: var(--text-color-primary-bg);
}

.profile-item {
    padding: 10px 0px;
    padding-right: 20px;
}

.rtl .profile-item {
    padding: 10px 0px;
    padding-right: 0px;
    padding-left: 20px;
}

.profile-item-title {
    font-size: 1.2rem;
    margin: 0 10px;
}

.profile-item-description {
    margin: 0 44px;
}

.profile-item-description p{
    font-size: 1rem;
}

.profile-item-image {
    font-size: 35px;
    width: 44px;
}

.profile-row.active {
    margin-left: -15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .4);
}

.rtl .profile-row.active {
    margin-left: unset;
    margin-right: -15px;
}

.profile-row {
    border-radius: 10px;
}

.account-content {
    margin: 50px;
}

.profile-section-dropdown {
    margin: 0px -15px;
}

.profile-section-dropdown .dropdown {
    position:static !important;
}

.profile-section-dropdown .dropdown-menu {
    top: 54px !important;
    transform: none !important;
    margin: 0px;
    padding: 0px;
    margin-top: 0!important;
    width: 100%!important;
    border: 0;
}

.profile-section-dropdown .nav {
    padding: 0px;
    width: 100%;
}

.profile-section-dropdown .dropdown-toggle::after{
    display: none !important;
}


.profile-section-dropdown .icon-arrow_drop_down1 {
    margin-left: auto;
}

.rtl .profile-section-dropdown .icon-arrow_drop_down1 {
    margin-left: unset;
    margin-right: auto;
    font-size: 32px;
}

.profile-section-dropdown .dropdown {
    background:var( --primary-color);
    border:0;
    border-radius:0px;
    width: 100%;
    padding: 10px 15px;
}

.profile-section-dropdown .dropdown-menu>li>a {
    background-color: var( --primary-color);
    padding: 10px 15px;
    color: #ffffff;
    border-top: 1px solid #3d3d3d;
}

.profile-section-dropdown .dropdown ul.dropdown-menu {
    border-radius:0px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}

.account-content .btn-primary {
    min-width: 100px;
    float: right;
}

.rtl .account-content .btn-primary {
    float: left;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    /* border: 1px solid #ccc; */
    padding: 5px;
    cursor: pointer;
    z-index: 2;
}

.rtl .delete-button {
    right: unset;
    left: 10px;
}

@media only screen and (max-width: 768px) {
    .account-content {
        margin: 15px;
    }
}

