<section class="subTitle-detail">
    <div class="container">
        <div class="d-flex">
            <h1 class="bread-title">{{ title }} &nbsp;</h1>
            <p class="bread-text">{{ (description is empty) ? '' : description }}</p>

        </div>
    </div>

</section>
