<section class="breadcrumb-section">
    <nav aria-label="breadcrumb">
       
        <ol class="breadcrumb">
          <div class="container d-flex flex-wrap">
              {% block breadcrumb_items %}{% endblock %}
          </div>
     
        </ol>
  
      </nav>
</section>
