{% extends "layout.twig" %}

{% block header %} {% include 'header.twig' %} {% endblock %}


{% block main_content %}

<div class="container mt-5 mb-5 text-center">
    <div class="mt-5 mb-5">
        <h1 style="color: var( --primary-color); font-size: 5rem">404</h1>
    </div>
    <h1 style="font-size: 2rem" class="theme-text-primary">{{ locals.title_404 }}</h1>
    </div>

{% endblock %}



{% block footer %} {% include 'footer.twig' %} {% endblock %}
