{% extends "layout.twig" %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    <div id="loader"class="loader-container-relative"></div>

    <div id="blog">
    </div>

{% endblock %}

{% block footer %} {{ include('footer.twig') }} {% endblock %}
