{% extends "layout.twig" %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    {% embed 'breadcrumb.twig' %}
        {% block breadcrumb_items %}
            <li class="breadcrumb-item" aria-current="page"><a href="/">{{ locals.home_title }}</a></li>
            <li class="breadcrumb-item active " aria-current="page">{{ locals.products_title }}</li>
        {% endblock %}
    {% endembed %}


     <div class="container d-flex flex-row">
        {% if  products.filters|length > 0 %}
            <div class="d-flex flex-column">
                {% include 'template_for_products_attributes' %}
                <div class="d-flex justify-content-end attributes-submit" style="padding-inline-end: 25px">
                    <button type="button" onclick="document.getElementById('attribute_form').submit()" class="highlight-button btn btn-sm" data-abc="true">تطبيق</button>
                </div>
            </div>
        {% endif %}
        <div class="products-container flex-grow-1 pt-4">
        {% if  products.filters|length <= 0 %}
            <div>
                {% include 'products-filter.twig' with { 'count' : products.total, 'has_products_filtration': ( products.filters|length > 0) } %}
            </div>
        {% endif %}
            <div id="products-list" class="row products-list">
                {% for product in products.data %}

                    <div class="prod-col {% if products.filters|length > 0 %}prod-col-attr{% endif %} prod-col-tb">
                        {% include 'product-card.twig' with {'product' : product, 'index': key} %}
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'pagination.twig' with { 'totalPages' : products.last_page , 'currentPage' : products.current_page } %}

{% endblock %}

{% block footer %} {{ include('footer.twig') }} {% endblock %}
