{% extends "layout.twig" %}


{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    <section class="search-products">
        <div class="products-title">
            <h2>Items</h2>
        </div>
    </section>

{% endblock %}

{% block footer %} {{ include('footer.twig') }} {% endblock %}
